html {
  background-color: #120e14 !important;
  color: rgb(185, 180, 169);
}

body {
  font-family: "Fira Mono", monospace;
  font-size: 16px;
}

/* @media (max-width: 600px) {
  body {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
} */

.body {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 750px;
  min-height: 83vh;
  text-align: center;
}

.map {
  padding: 0 auto;
  text-align: center;
  min-height: 83vh;
}

.header {
  margin: 40px 0px 60px;
  text-align: center;
}

footer {
  text-align: center;
}

.nav {
  margin-bottom: 60px;
}

img {
  max-width: 100%;
}

a {
  color: rgb(0, 170, 0);
  text-decoration: none;
}

.underline:hover {
  color: rgb(0, 170, 0);
}

.underline {
  position: relative;
  margin-right: 15px;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(0, 170, 0);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.highlight:hover::before {
  transform: scaleY(1);
  background-color: rgb(0, 170, 0);
}

.cursor {
  animation: cursor 2s infinite;
  color: rgb(0, 170, 0);
  display: inline-block;
  width: 10px;
  margin-left: 5px;
  border-radius: 1px;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

h1 {
  text-align: center;
}

.title {
  font-weight: bold;
}

#education-list li {
  margin-bottom: 10px;
}

.pub_link {
  margin-right: 15px;
}

.orange-text {
  color: rgb(230, 96, 47);
}

.orange-text a {
  text-decoration: none;
  cursor: text;
  color: inherit;
}

.blu-text {
  color: rgb(70, 70, 230);
}

.not-found-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #120e14;
  color: rgb(0, 170, 0);
}

.terminal {
  width: 400px;
  background-color: #120e14;
  border: 2px solid rgb(0, 170, 0);
  padding: 20px;
  border-radius: 10px;
}

.f4ncyz4nz4 {
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: rgb(230, 96, 47);
}

.list-centered {
  display: inline-block;
  text-align: left;
}
